<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:300,400" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="names">Meredith & Veit</h1>

    <h3 class="names-repeat">Meredith Alongi + Veit Heller</h3>
    <p class="vows">are getting married</p>
    <p class="invite">and would like to include you!</p>

    <div class="date-and-time">
      <div class="date-and-time-container">
        <p class="date">Friday<span class="date-wo-day"> April 13</span> 2018</p>
        <p class="location">Rathaus Köpenick<span class="time">at eleven in the morning</span> in Berlin-Köpenick

          <!--<span class="yum">P.S. Food and drinks are on the house.</span>-->
        </p>
      </div>
    </div>

    <form action="." method="POST">
      <div class="person">I am <input type="text" name="who"></div>
      <div class="there">I’ll be there
        <div class="radio">
          <input type="radio" name="there" value="1" id="alone" checked="checked"><label for="alone"></label> Alone
        </div>
        <div class="radio">
          <input type="radio" name="there" value="2" id="plus1"><label for="plus1"></label> +1
        </div>
      </div>
      <div class="for">For
        <div class="checkbox">
          <input type="checkbox" name="ceremony" id="ceremony"><label for="ceremony"></label> Ceremony
        </div>
        <div class="checkbox">
          <input type="checkbox" name="toast" id="toast"><label for="toast"></label> Toast
        </div>
        <div class="checkbox">
          <input type="checkbox" name="dinner" id="dinner"><label for="dinner"></label> Dinner
        </div>
      </div>
      <input type="submit" value="Send">
    </form>
  </body>
</html>
