<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:300,400" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">
    <style>
      img {
        width: 196px;
        margin-right: 1px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <h1 class="names">Meredith & Veit</h1>
    <div id="body">
      <a href="/en">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png" alt="English">
      </a>
      <a href="/de">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/1200px-Flag_of_Germany.svg.png" alt="Deutsch">
      </a>
    </div>
  </body>
</html>
