<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:300,400" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="names">Meredith & Veit</h1>

    <h3 class="names-repeat">Meredith Alongi + Veit Heller</h3>
    <p class="vows">heiraten</p>
    <p class="invite">und möchten dich dabei haben!</p>

    <div class="date-and-time">
      <div class="date-and-time-container">
        <p class="date">Freitag<span class="date-wo-day">der 13. April</span> 2018</p>
        <p class="location">Rathaus Köpenick<span class="time">um elf Uhr morgens</span> in Berlin-Köpenick</p>
      </div>
      <!--<p class="yum">P.S. Food and drinks are on the house.</p>-->
    </div>

    <p style="text-align: center">Wir freuen uns dich dabei zu haben!</p>
  </body>
</html>
